/* Base styles using Tailwind's layering system */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply min-h-screen font-sans text-base leading-relaxed;
    @apply text-indigo-900 bg-white transition-colors duration-500 dark:bg-gray-900 dark:text-gray-200;
  }
}

